.payment-wrapper {
    padding: 3rem;
}

.payment-form {
    max-width: 600px;
}

.payment-address {
    width: 100%;
    padding: 8px;
}

.payment-amount {
    margin-top: 20px;
}

.payment-button {
    margin-top: 20px;
}
